body{
    background-color: rgb(15, 15, 15);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header{
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
}
.header img{
    width: 100px;
    
}

.maincontent{
    width: 80%;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
}
.maincontent h1, h2, h3, p{
    color: white;
    text-align: justify;
}


.box1{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    background-color: rgb(9, 9, 9);
    border-radius: 10px;
    color: white;   
    padding: 20px;
}

.block-items{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.block-item{
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(42, 42, 42);
    color: white;
    height: 85%;
    width: 40vh;
    padding: 10px;
    margin: left;
}
.block-item img{
    width: 100%; 
    border-radius: 10px;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    display: flex;
    gap: 50px;
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
}

footer .box{
    padding: 20px;
    margin: auto;
}

footer .box p{
    font-size: 7px;
}

footer .box img{
    width: 20%;
    margin: auto;
}